<!DOCTYPE html>
<html>
<head>
	<title>LoginApp</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>
<style>
        #messages{height:300px;}
</style>
</head>
<body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
               <li role="presentation"><a href="#">welcome {{user.username}}</a></li>
              <li role="presentation"><a href="/users/logout">Log out</a></li>
              
                {{# if member }}
                  <li>  
                    <ol>
                        {{# each member}}
                          
                            <li role="presentation"><a href="/user2/{{this.username}}">{{this.username}}</a></li>
                            
                        {{/each}}    
                    </ol>
                 </li>
                {{/if}}
            {{else}}
              <li role="presentation"><a href="/users/login">Login</a></li>
              <li role="presentation"><a href="/users/register">Register</a></li>
            {{/if}}
          </ul>
        </nav>
        <h3 class="text-muted">LoginApp</h3>
      </div>


      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
          {{{body}}}
        </div>

        
      </div>
      
    



	<script src="/socket.io/socket.io.js"></script>

    
	
	{{!--Initiates the socket and listens for added--}}
	<script>
      
		
	</script>
</body>
</html>
